<div class="page-header">
  <% if current_admin %>
    <%= link_to new_post_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Post
    <% end %>
  <% end %>
  <h1>Listing posts</h1>
</div>

<div class="row" style="padding-bottom: 20px">
  <form action="/posts">
    <div class="col-sm-11">
      <input class="form-control" placeholder="Search" type="text" name="search" id="_posts_search" value="<%= params[:search] %>">
    </div>
    <div class="col-sm-1">
      <input type="submit" value="Search" class="btn btn-primary" data-disable-with="Search">
    </div>
</form></div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <% if current_admin %>
          <th>Published</th>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <%= content_tag :tr, id: dom_id(post), class: dom_class(post) do %>
          <td><%= link_to post.title, post %></td>
          <% if current_admin %>
            <td><%= post.published %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
